*.doc*
*.xls*
*.ppt*
*.png
*.jpg
*.jpeg
*.csv*
*.zip*
*.tar*
*.gz*
*.agz*
*.bz*
*.pdf
*.tmp*
*.RData
*.RDataTmp
*.RDat*
*.rda*
*.rds*
*.Rhistory*
*.graph*
*.db
*.bgs
*.luu
*.rhes
*.shess
*.swp*
glmmadmb/*

*.ini*
*.out

medtrack_data/medtrack_news_links_parsed.sql
